@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Philosopher);

.anna{
	color: black;
	font-family: Tahoma, sans-serif;
	font-size: 10pt;
}
.anna a{
	color: deepskyblue;
}
.anna a:hover{
	color: darkkhaki;
}

.ali{
	color: #475fd0;
	font-family: georgia, Verdana, Arial, Helvetica, sans-serif; 
}
.ali a{
	color: #9370da;
}
.ali a:hover{
	color:#70b7da;
}
.alura {
	color: #00cccc;
	font-family: "Times New Roman", Times, serif;
	size: 11pt;
	letter-spacing: 0.75px;
}
.alura a {
	color: #b7d7a7;
}	

.alura a:hover {
	color: #9db88f;
}
.aly {
	color: black;
	font-family: georgia, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
}

.aly a {
	color: lightblue; 
}

.aly a:hover {
	color: lightblue; 

}

.beth {
	color: #315198;
	font-family: "Times New Roman", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
.beth a {
	color: #0076a3;
}
.beth a:hover {
	color: #FFFFFF;
}

.cari {
	color: #A0CFEC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
}
.con{
	color:midnightblue;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
}
.con a{
	color:cadetblue;
}
.con a:hover{
	color:darkseagreen;

}

.cort {
	font-style: normal;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: darkcyan;
	font-size: 10pt;
	font-weight: normal;
}

.cort a {
	color: indigo;
}

.cort a:hover {
	color: darkviolet;
}

.eve {
	color: darkviolet;
	font-family: Century Gothic;
	font-size: 10pt; 
}
.eve a {
	color: orchid;
}

.eve a:hover {
	color: violet;
}

.ff {
	color: #415569;
}

.ff a{
	color: #f6546a;
}
.jade{
	color: #19b5ef;
	font-family: 'Philosopher', sans-serif;
	font-size: 11pt;
}
.jade a{
	color:#024e88;
}
.jade a:hover{
	color:#740470;
}
.jas {
	font-family: "Courier New", Courier, monospace;
	color:teal;
}
.jas a{
	color:darkviolet;
}
.jas a:hover{
	color:royalblue;
}
.julia{
	color:#5A86D5;
	font-family: "Garamond", Georgia, serif;
	font-size:11pt;
}
.julia a{
	color:deepskyblue;
}
.lan {
	color: #330000;
	font-family: Georgia, serif;
	font-size: 11pt;
}
.mar{
	color: #321452;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.mar a{
	color: #65c5bb;
}
.mar a:hover{
	color: #cba0d8;
}

.nyu {
	color: black;
	 font-family: "Times New Roman", Times, serif;
	 font-size: 10pt;
}
.nyu a{
	color: #9e4c8c;
}
.pyro{
	color: maroon;
	font-family: ms serif;
	font-size: 11pt;
	font-weight: bold; 
	font-style: italic;
}
.rad {
	color:purple;
	font-family: Cambria, Georgia, serif;
	font-size: 11pt;
}
.rad a{
	color:indigo;
}
.rad a:hover{
	color:brown;
}
.reg{
	color:#2b3856;
	font-family: Helvetica, sans-serif;
	font-size:10pt;
}
.reg a{
	color:#40a9f0;
}
.reg a:hover{
	color:#7aa9dd;
}
.sam{
	color:#003865;
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size: 12pt;
}
.sam a{
	color:	#1a7ccc;
}
.sam a:hover{
	color:	#550133;
}
.san {
	color: #210321;
	font-family: Tahoma, sans-serif;
}

.san a {
	color: #ccdcdc;
}

.san a:hover {
	color: #000066;
}

.sar {
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size:11.5px;
}

.sar a {
	color: #0Ae90a;
}

.sar a:hover {
	color: #05BB3F;
	text-decoration:none;
}
.xx {
	color: #007bba;
	font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt; 
}

.xx a {
	color: deepskyblue;
}

.xx a:hover {
	color: lightskyblue;
}